<<<<<<< HEAD
*{
    padding: 0px;
    margin: 0px;
}

.main{
    background: url(coffee_cup2.jpg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.box1{
    background-color: rgba(115, 78, 14, 0.737);
    width: 400px;
    height: 420px;
    margin-left: 200px;
    margin-top: 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#box2{
    background-color: rgba(115, 78, 14, 0.737);
    width: 400px;
    height: 420px;
    margin-left: 200px;
    margin-top: 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.box1 h1{
    color: black;
    padding-bottom: 20px;
    padding-left: 140px;
    margin: 10px;
}

#box2 h1{
    color: black;
    padding-bottom: 20px;
    padding-left: 140px;
    margin: 10px;
}

fieldset{
    padding-left: 30px;
    padding-right: 28px;
    padding-top: 25px;
    padding-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 500;
    margin-right: 10px;
}

#email{
    margin-bottom: 20px;
    width: 340px;
    height: 22px;
    border-radius: 22px;
    padding: 5px;
}
#password{
    margin-bottom: 20px;
    width: 340px;
    height: 22px;
    border-radius: 22px;
    padding: 5px;
}
#confirm{
    margin-bottom: 20px;
    width: 340px;
    height: 22px;
    border-radius: 22px;
    padding: 5px;
}

button{
    margin: 30px;
    height: 40px;
    font-weight: 900;
    width: 200px;
    margin-left: 90px;
    padding: 8px;
}

.box1 p{
    margin-left: 90px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.box1 p a{
    text-decoration: none;
    color: rgb(18, 157, 188);
}

=======
*{
    padding: 0px;
    margin: 0px;
}

.main{
    background: url(coffee_cup2.jpg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.box1{
    background-color: rgba(115, 78, 14, 0.737);
    width: 400px;
    height: 420px;
    margin-left: 200px;
    margin-top: 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#box2{
    background-color: rgba(115, 78, 14, 0.737);
    width: 400px;
    height: 420px;
    margin-left: 200px;
    margin-top: 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.box1 h1{
    color: black;
    padding-bottom: 20px;
    padding-left: 140px;
    margin: 10px;
}

#box2 h1{
    color: black;
    padding-bottom: 20px;
    padding-left: 140px;
    margin: 10px;
}

fieldset{
    padding-left: 30px;
    padding-right: 28px;
    padding-top: 25px;
    padding-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 500;
    margin-right: 10px;
}

#email{
    margin-bottom: 20px;
    width: 340px;
    height: 22px;
    border-radius: 22px;
    padding: 5px;
}
#password{
    margin-bottom: 20px;
    width: 340px;
    height: 22px;
    border-radius: 22px;
    padding: 5px;
}
#confirm{
    margin-bottom: 20px;
    width: 340px;
    height: 22px;
    border-radius: 22px;
    padding: 5px;
}

button{
    margin: 30px;
    height: 40px;
    font-weight: 900;
    width: 200px;
    margin-left: 90px;
    padding: 8px;
}

.box1 p{
    margin-left: 90px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.box1 p a{
    text-decoration: none;
    color: rgb(18, 157, 188);
}

>>>>>>> f31566e (update)
